@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Poppins:wght@400;500&display=swap');


* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-image: url("imagemClima.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}


/* NAVBAR */
.navbar {
  background-color: #dfdbce !important;
  font-family: 'Poppins', sans-serif;
  flex-wrap: wrap;
}

.nav-link {
  color: #4C8F6E !important;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.nav-link:hover {
  color: #3E7859 !important;
}

.nav-item {
  margin-right: 15px;
}

.imagemBarra {
  width: 250px;
  height: 150px;
  max-width: 100%;
  height: auto;
}

/* Responsividade da logo */
@media (max-width: 768px) {
  .imagemBarra {
    width: 180px;
    height: auto;
  }
}


.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background-image: url("imagemClima.png");
}

.hide {
  display: none !important;
}

.container {
  background-color: #000000;
  opacity: 0.6;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  color: #fdfdfd;
  border-radius: 1rem;
  max-width: 500px;
  margin: 100px 100px;
}

.form h3 {
  margin-bottom: 1rem;
}

.form-input-container {
  display: flex;
}

.form input {
  padding: 0.8rem;
  border: none;
  flex: 1;
  border-radius: 4px;
}

.form button {
  padding: 0.8rem;
  min-width: 50px;
  margin-left: 8px;
  background-color: #3E7859;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

  /* Clima */
  #weather-data,
  #error-message,
  #loader,
  #suggestions {
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
  }
  
  #weather-data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
  }
  
  #weather-data h2 i {
    font-size: 1rem;
  }
  
  #weather-data span {
    margin: 0.6rem;
  }
  
  #temperature {
    font-size: 4rem;
  }
  
  #country {
    height: 25px;
  }
  
  #description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
  }
  
  #description {
    text-transform: capitalize;
    font-weight: bold;
  }
  
  #details-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #details-container #umidity {
    border-right: 1px solid #fff;
    margin: 0.6rem;
    padding: 0.6rem;
  }
  
  /* Loader */
  #loader i {
    animation: rotate 1.5s linear infinite;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Sugestões */
  #suggestions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

  }
  
  #suggestions button {
    min-width: 200px;
    margin: 0.8rem;
    padding: 0.6rem 0.9rem;
    border-radius: 3rem;
    border: none;
    background-color: #4C8F6E;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    transition: 0.4s;
  }
  
  #suggestions button:hover {
    opacity: 10;
  }