@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Poppins:wght@400;500&display=swap');

/* NAVBAR */
.navbar {
  background-color: #dfdbce !important;
  font-family: 'Poppins', sans-serif;
  flex-wrap: wrap;
}

.nav-link {
  color: #4C8F6E !important;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.nav-link:hover {
  color: #3E7859 !important;
}

.nav-item {
  margin-right: 15px;
}

.imagemBarra {
  width: 250px;
  height: 150px;
  max-width: 100%;
  height: auto;
}

/* Responsividade da logo */
@media (max-width: 768px) {
  .imagemBarra {
    width: 180px;
    height: auto;
  }
}



/* Container principal */
.form-container {
  display: flex;
  flex-direction: column;

  
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
  background-color: #F5F1E6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* Título */
.titulo-eucalipto {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 500;
  color: #4C8F6E;
  text-align: center;
  position: relative;
  font-size: 24px;
  margin-bottom: 20px;
}

.titulo-eucalipto::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 3px;
  border-radius: 30px;
  background-color: #4C8F6E;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
}


/* Formulário em grid */
form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

/* Responsividade para o formulário */
@media (max-width: 768px) {
  form {
    grid-template-columns: 1fr;
  }

  .imagemBarra {
    width: 180px;
    height: auto;
  }
}


/* Campo de entrada */
.input-area {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.input-area input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #4C8F6E;
  min-width: 100px;
}

.input-area select {
  padding: 10px;
  width: 140px;
  border: none;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #4C8F6E;
}

.input-area input::placeholder {
  color: #A1D3A6;
}

.input-area input:focus,
.input-area select:focus {
  outline: none;
  border: 2px solid #4C8F6E;
}


/* Campo de data */
.input-area.date {
  grid-column: 1 / -1;
}


/* Botão */
.confirm-button {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 20px;
}

.confirm-button button {
  padding: 12px 24px;
  background-color: #4C8F6E;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition: background-color 0.3s;
}

.confirm-button button:hover {
  background-color: #3c745a;
}


/* Gráfico */
.grafico {
  width: 80%;
  max-width: 100%;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}